*{

box-sizing:border-box;

font-family:tahoma;

}



body{


margin:0;

min-height:100vh;

background:

radial-gradient(circle,#25105c,#03030a);


color:white;


}




.admin-container{


width:90%;

max-width:1000px;

margin:auto;

padding:40px;


}




.login-box,
.dashboard .card{


background:#ffffff12;

border:1px solid #00ffff55;

backdrop-filter:blur(20px);

border-radius:30px;

padding:35px;

box-shadow:0 0 40px #000;


}



.login-box{

max-width:450px;

margin:150px auto;

text-align:center;


}



input,
textarea{


width:100%;

padding:15px;

margin:10px 0;

border-radius:15px;

border:none;

outline:none;


}



textarea{

height:120px;


}




button{


padding:15px 35px;

border:none;

border-radius:30px;

cursor:pointer;

background:#00ffff;

font-size:18px;


}



button:hover{


box-shadow:0 0 30px cyan;


}




.dashboard{

display:none;

}



.card{


margin-bottom:30px;


}




#preview{


width:200px;

height:200px;

object-fit:cover;

border-radius:20px;

display:block;

margin:20px auto;


}



.game-item{


display:flex;

gap:20px;

align-items:center;


background:#ffffff10;

padding:20px;

border-radius:20px;

margin:15px 0;


}



.game-item img{


width:100px;

height:100px;

object-fit:cover;

border-radius:15px;


}
