*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    font-family:"Vazirmatn",sans-serif;

    min-height:100vh;

    background:#050510;

    color:white;

    overflow-x:hidden;

}





.background{

    position:fixed;

    inset:0;

    z-index:-5;

    background:

    radial-gradient(circle at 20% 20%,#00ffff55,transparent 30%),

    radial-gradient(circle at 80% 80%,#ff00ff55,transparent 30%),

    linear-gradient(120deg,#050510,#090020);


    animation:backgroundMove 12s infinite alternate;

}



@keyframes backgroundMove{


    from{

        filter:hue-rotate(0deg);

        transform:scale(1);

    }


    to{

        filter:hue-rotate(80deg);

        transform:scale(1.1);

    }

}





header{

    text-align:center;

    padding-top:70px;

}





.profile{

    width:230px;

    height:230px;

    object-fit:cover;

    border-radius:50%;


    border:8px solid transparent;


    background:

    linear-gradient(#050510,#050510) padding-box,

    linear-gradient(45deg,

    cyan,

    purple,

    red,

    cyan) border-box;


    animation:rgb 5s linear infinite;


    box-shadow:

    0 0 30px cyan,

    0 0 80px #00ffff88;

}





@keyframes rgb{

    100%{

        filter:hue-rotate(360deg);

    }

}





h1{

    font-size:80px;

    margin-top:30px;


    color:#00ffff;


    text-shadow:

    0 0 10px cyan,

    0 0 40px cyan;


}





.subtitle{

    font-size:25px;

    color:#ddd;

}





.about{

    width:85%;

    max-width:900px;


    margin:80px auto;


    padding:40px;


    border-radius:35px;


    background:

    rgba(255,255,255,.08);


    border:1px solid rgba(255,255,255,.2);


    backdrop-filter:blur(20px);


    box-shadow:

    0 0 40px #000;


    text-align:center;


}





.about h2{

    font-size:35px;

    margin-bottom:25px;


}




.about p{

    font-size:20px;

    line-height:2;

    color:#ddd;


}






.buttons{


    display:flex;


    justify-content:center;


    flex-wrap:wrap;


    gap:25px;


    padding-bottom:70px;


}




.buttons a{


    text-decoration:none;


    color:white;


    font-size:20px;


    padding:18px 45px;


    border-radius:50px;


    background:

    linear-gradient(

    45deg,

    #00ffff33,

    #ff00ff33);


    border:1px solid cyan;


    backdrop-filter:blur(15px);


    transition:.4s;


    box-shadow:

    0 0 20px #00ffff55;


}





.buttons a:hover{


    transform:

    translateY(-12px)

    scale(1.08);


    background:#00ffff;


    color:black;


    box-shadow:

    0 0 50px cyan;


}







.particle{


    position:fixed;

    width:5px;

    height:5px;


    background:white;


    border-radius:50%;


    opacity:.5;


    animation:particleMove 12s infinite linear;


}





@keyframes particleMove{


    from{

        transform:translateY(100vh);

    }


    to{

        transform:translateY(-100vh);

    }


}





@media(max-width:700px){


    h1{

        font-size:50px;

    }



    .profile{

        width:170px;

        height:170px;

    }



    .about{

        width:90%;

        padding:25px;

    }



    .buttons a{

        width:80%;

        text-align:center;

    }

}

.support-button{

background:linear-gradient(45deg,#00ffff,#008cff);

border:none;

padding:15px 25px;

border-radius:25px;

font-size:16px;

font-weight:bold;

cursor:pointer;

}



.support-overlay{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#000b;

z-index:999;

align-items:center;

justify-content:center;

padding:20px;

}



.support-overlay.active{

display:flex;

}



.support-card{

max-width:600px;

max-height:90vh;

overflow:auto;

background:#080812;

border-radius:30px;

padding:35px;

text-align:center;

border:1px solid #00ffff55;

box-shadow:0 0 40px cyan;

}



.support-card h2{

color:#00ffff;

}



.support-close{

position:absolute;

top:20px;

right:25px;

font-size:35px;

background:none;

color:white;

border:none;

cursor:pointer;

z-index:10;

  }



.payment-option{

margin-top:25px;

padding:20px;

background:#ffffff10;

border-radius:20px;

}



.payment-option h4{

font-size:22px;

}



.payment-option a{

display:block;

margin-top:15px;

padding:12px;

background:#00ffff;

color:black;

border-radius:20px;

text-decoration:none;

font-weight:bold;

}
