*{
box-sizing:border-box;
font-family:Vazirmatn;
}


body{

margin:0;

background:#050510;

color:white;

}



.background{

position:fixed;

width:100%;

height:100%;

background:
radial-gradient(circle at top,#004cff55,transparent),
radial-gradient(circle at bottom,#00ffff33,transparent);

z-index:-1;

}



.hamburger{

position:fixed;

top:20px;

right:20px;

font-size:35px;

cursor:pointer;

background:#111827;

padding:8px 15px;

border-radius:15px;

box-shadow:0 0 20px cyan;

z-index:10;

}



.side-menu{

position:fixed;

top:0;

right:-400px;

width:350px;

height:100%;

background:#050505ee;

backdrop-filter:blur(20px);

transition:.4s;

z-index:20;

padding:30px;

box-shadow:-10px 0 40px black;

}



.side-menu.active{

right:0;

}



.close{

font-size:40px;

cursor:pointer;

}



.menu-img{

width:90px;

height:90px;

border-radius:50%;

border:3px solid cyan;

margin-top:20px;

}



.side-menu h2{

color:#00ffff;

}



.side-menu a{

display:block;

color:white;

text-decoration:none;

padding:20px 10px;

font-size:20px;

border-bottom:1px solid #333;

transition:.3s;

}



.side-menu a:hover{

color:#00ffff;

padding-right:25px;

}



.overlay{

display:none;

position:fixed;

width:100%;

height:100%;

background:#0008;

z-index:15;

}



.overlay.active{

display:block;

}



header{

text-align:center;

padding-top:70px;

}



.profile{

width:160px;

height:160px;

border-radius:50%;

border:5px solid cyan;

box-shadow:0 0 30px cyan;

}



h1{

font-size:55px;

color:#00ffff;

}



.subtitle{

font-size:22px;

}



.about{

width:85%;

margin:50px auto;

padding:35px;

background:#ffffff12;

border-radius:25px;

backdrop-filter:blur(15px);

line-height:2;

}



.buttons{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}



.buttons a{

background:#00ffff;

color:black;

padding:15px 25px;

border-radius:20px;

text-decoration:none;

font-weight:bold;

}



@media(max-width:600px){

.side-menu{

width:85%;

}

}
